.addTodo{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;

    &__input{
        font-family: 'Roboto';
        font-size: 1.1rem;
        padding: 5px;

        &--text {
            width: 40vw;
            max-width: 600px;
            margin-right: 10px;
            border: 1px solid $primary-color;
            text-align: center;
            padding: 8px;
        }

        &--submit{
            width: 70px;
            cursor: pointer;
            border: none;
            text-transform: uppercase;
            padding: .5rem 1.2rem;
            background-color: $primary-color;
            color: white;
            transition: all .2s;
            font-weight: 300;

            &:hover{
                background-color: #092740;
            }
        }
    }
}